*.iml
.gradle
local.properties

# IDEA
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS
.DS_Store

# Build dirs
**/build/
captures/
.externalNativeBuild/
.cxx/

# Ignore go libs file
*.aar
*.jar
*.so